body {
  background: #f4f7fc;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.98);
  border-radius: 8px;
}

.logout-btn {
  margin-top: auto;
  background: #d62828;
  border: none;
  color: white;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #b71c1c;
  box-shadow: 0 0 15px #ff3b3b;
  transform: scale(1.05);
}

.content {
  margin-left: 260px;
}

.card {
  border: none;
  border-radius: 12px;
}
